.location__header__container-1{
    height: 8.5rem;
    background-image: url(./assets/images/careers-location-hero-mobile.jpg);
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location-main{
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    ul{
        margin-top: 10;
        li{
            height: 4rem;
            background-color: $lightOrange;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text-dark-grey;
            font-size: 1.5rem;
            font-weight: 900;
        }

    }
    article{
        text-align: center;
        width: 80%;
    }
    picture{
        margin-top: 4rem;
        width: fit-content;
        margin: 0 auto;
    }
    article:nth-child(2){
        h2{
            font-size: 2rem;
            color: $text-dark-grey;
            text-transform: capitalize;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
}

@include break-point(min-width, $tablet-sz){
    .location-main{
        picture{
            margin-top: 7rem
        }
        article:nth-child(1){
            display: none;
        }
        article:nth-child(2){
            margin-top: 7rem;

            div{
                max-width: 75%;
            }
        }
    }
}

@include break-point(min-width, $desktop-sz){
    .location-main{

        article:nth-child(2){
            display:grid;
            // flex-direction: row;
            grid-template-columns: 1fr 2fr 1fr;
            gap: 2rem;
            text-align: left;
            justify-content: center;
            align-items: center;
            justify-content: center;
            align-content: center;

            div{
                max-width: 100%;
            }
            button{
                justify-self: end;
            }
        }
    }
}