body {
  background-color: $white;
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Fraunces", serif;
  font-family: "Inter", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "League Spartan", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}
