// colors
// $yellow: rgb(255, 221, 0);
$yellow : rgb(244, 167, 24);
$lightOrange: rgba(255, 166, 0, 0.237);
$white: #fff;
$medium-dark-grey: rgb(74, 72, 90);
$text-grey: rgb(139, 139, 141);
// $text-grey: rgb(175, 174, 180);
$light-blue-bg: rgb(231, 231, 239);
$very-dark-grey: rgb(50, 50, 54);
$text-dark-grey: rgb(43, 43, 47);
$black: #000;

// screen sizes
$small-sz: toRem(599px);
$tablet-sz: toRem(600px);
$desktop-sz: toRem(1000px);
